body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  height: 100vh;  
}

h1 {
  color: #ffffff;
  text-align: center;
}
p {
  color: #29002a;
  line-height: 1.6;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #388fe6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.container_boton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
  background-color: #ffffff;
  color: #388fe6;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #e0e0e0;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(56, 143, 230, 0.5);
}

.box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}